* {
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Rubik", sans-serif;
}
.header {
  position: fixed;
  width: 100vw;
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.logo {
  align-self: center;
  margin: 10px 0 10px 0;
  width: 155px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  padding: 13px;
}
.link {
  margin: 0 20px 0 0;
  font-size: 1em;
  text-decoration: none;
  color: #4a4a4a;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
  min-height: 100vh;
}
.motto {
  width: 40%;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.footer {
  text-align: center;
  background-color: #ffffff;
}
.copy {
}
